/* Start Order Button Code */

#button {
  width: 400px;
  margin: auto;
  position: relative; top: 240px; left: 80px;
}

.myButton {
background:    #54923a;
border:        1px solid #556699;
border-radius: 11px;
box-shadow:    0 1px #444444;
padding:       20px 45px;
color:         #ffffff;
font:          normal bold 26px/1 "Open Sans", sans-serif;
text-align:    center;
text-decoration: none;
opacity: 1;
}

/* Welcome & Name Code */

.welcome {
  position: relative; top: 240px;
  opacity: 1;
  color: green;
}

.name {
  opacity: 1;
  position: relative; top: 240px; left: 550px;
}

.nameButton {
  opacity: 1;
  position: relative; top: 300px; left: 425px;
  width: 80px;
  height: 40px;
  font-size: 20px;
}

#user {
  opacity: 1;
  position: relative; top: -120px;
  font-size: 48px;
  color: green;
}

.welcome_animate, .name_animate, .nameButton_animate, .banner_animate {
  opacity: 0;
}

/* Order Code */

.oak {
  opacity: 0;
  width: 40%;
  height: auto;
  position: relative; top: -50px; left: 50px;
}

.oak_animate {
  opacity: 1;
}

.oaktree {
  color: #87CEEB;
  background-image: none;
  position: relative; top: -50px; left: -550px;
  width: 30%;
  opacity: 0;
}

.oaktree_animate {
  opacity: 1;
}

.oak_tree {
  color: green;
  position: relative; top: -60px; left: 50px;
}

.oakQuantity {
  opacity: 0;
  position: relative; top: -120px; left: 70px;
  width: 10%;
}

.oakQuantity_animate {
  opacity: 1;
}

.oakButton {
  opacity: 0;
  position: relative; top: -80px; left: -25px;
}

.oakButton_animate {
  opacity: 1;
}