/* Start Order Button Code */

#button {
  width: 400px;
  margin: auto;
  position: relative; top: 240px; left: 80px;
}

.myButton {
background:    #54923a;
border:        1px solid #556699;
border-radius: 11px;
box-shadow:    0 1px #444444;
padding:       20px 45px;
color:         #ffffff;
font:          normal bold 26px/1 "Open Sans", sans-serif;
text-align:    center;
text-decoration: none;
opacity: 1;
}

/* Welcome & Name Code */

.welcome {
  position: relative; top: 240px;
  opacity: 1;
  color: green;
}

.name {
  opacity: 1;
  position: relative; top: 240px; left: 550px;
}

.nameButton {
  opacity: 1;
  position: relative; top: 300px; left: 425px;
  width: 80px;
  height: 40px;
  font-size: 20px;
}

#user {
  opacity: 1;
  position: relative; top: -120px;
  font-size: 48px;
  color: green;
}

.welcome_animate, .name_animate, .nameButton_animate, .banner_animate {
  opacity: 0;
}

/* Order Code */

.oak {
  max-width: 50%;
  max-height: auto;
  opacity: 0;
}

.oak_animate {
  opacity: 1;
}