body {
  font-family: 'Righteous', cursive;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #87CEEB;
  background-size: 100% 100vh;
}

.pages {
  margin: 0;
  padding: 0;
  background: url("../images/backgroundImage.jpg");
  background-size: 100% 100vh;
}

.banner {
  font-family: 'Righteous', cursive;
  font-size: 4em;
  color: green;
  position: absolute;
  text-shadow: 4px 4px 10px #964b00;
  padding: 2em;
  top: -20%;
  left: 2.75%;
}

ul li {
  list-style: none;
  font-family: 'Coiny', cursive;
}

.menu {
  height: 36px;
  width: 40px;
  float: right;
  position: relative;
  margin: 30px 30px 0 0;
  cursor: pointer;
  z-index: 99;
}

.toggler {
  width: 100%;
  height: 4px;
  margin: 0 0 7px 0;
  background-color: #fff;
  transition: 0.3s;
  
}

.hide {
 opacity: 0;
 visibility: hidden;
}

.animation0 {
  transform: rotate(45deg) translateY(15px);
  transition: 0.3s ease-in-out;
}

.animation2 {
  transform: rotate(-45deg) translateY(-15px);
  transition: 0.3s ease-in-out;
}

.navbar {
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease-in-out 
  4s,opacity 4s ease-in-out;
  text-align: center;
  z-index: 2;
}

.navbar.show {
  background-color: rgba(0, 0, 0, 1);
  opacity: 1;
  visibility: visible;
  transition: visibility 0s ease-in-out 
  3s,opacity 3s ease-in-out;
  transition-delay: 0s;
}

.navbar ul {
  padding: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar ul li {
  padding: 10px 0px;
}

.navbar ul li a {
  visibility: inherit;
  color: #fff;
  text-decoration: none;
  font-size: 38px;
  font-weight: 200;
}

.navbar ul li a:hover {
  color: grey;
  transition: 1s ease-in-out;
}

section {
  width: 60%;
  display: block;
  text-align: center;
  margin: auto;
  background-image: linear-gradient(90deg, green,blue);
  padding: 12px;
  border-radius: 8px;
  position: relative; top:240px;
}

h2 {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

p {
  text-align: center;
  color: white;
  text-decoration: none;
  z-index: 1;
}

img {
  height: 40%;
  width: 40%;
}

section ul li a {
  visibility: visible;
  color: #f0e0e0;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  z-index: 2;
}

section ul li a:hover {
  color: grey;
  text-decoration: underline;
}

a {
  color: #f0e0e0;
  text-decoration: none;
}

.links, .images {
  display: list-item;
  list-style-type: none;
  list-style-position: inherit;
  margin: 0 auto;
}

a:hover {
  color: grey;
  text-decoration: underline;
}

.arrow_toggle_one {
  display: block;
  position: relative; top: 400px; left: 80px;
  background-color: #3d3d3d;
  width: 45px; 
  height: 45px; 
  border-radius: 50%;
  border: none;
}

.arrow_toggle_two {
  display: block;
  position: relative; top: 355px; left: 1300px;
  background-color: #3d3d3d;
  width: 45px; 
  height: 45px; 
  border-radius: 50%;
  border: none;
}

.arrow_toggle_one:hover, .arrow_toggle_two:hover {
  width: 50px;
  height: 50px;
  transition: 0.1s ease-in-out;
}

.arrow_previous {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
}

.arrow_next {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.arrow_toggle_one:hover .arrow_previous, .arrow_toggle_two:hover .arrow_next {
  padding: 5px;
  transition: 0.1s ease-in-out;
}

.solution {
  opacity: 1;
  transition: 2.5s ease-in-out;
}

.section_animate {
  opacity: 0;
  transition: 2.5s ease-in-out;
}

.tree_info {
  width: 40%;
  display: block;
  text-align: center;
  position: relative; top:340px;
  transition: 1s ease-in-out;
}

.tree_info p {
  font-size: 12px;
}

.info_animate {
  position: relative; top:-525px;
  transition: 1s ease-in-out;
  transition-delay: 4.5s;
}

.treetop, .treetop2, .treetop3, .treetop4 {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #337033;
  position: relative; top: 10000px; left: 10000px;
  transition: 4.5s ease-in-out;
}

.tree-middle, .tree-middle2, .tree-middle3, .tree-middle4 {
  width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 60px solid #337033;
  position: relative; top: 10000px; left: 10000px;
  transition: 4s ease-in-out;
}

.tree-bottom, .tree-bottom2, .tree-bottom3, .tree-bottom4 {
  width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 70px solid #337033;
  position: relative; top: 10000px; left: 10000px;
  transition: 3.5s ease-in-out;
}

.treetrunk, .treetrunk2, .treetrunk3, .treetrunk4 {
  width: 30px;
  height: 30px;
  position: relative; top: 10000px; left: 10000px;
  background-color: #7e673e;
  transition: 3s ease-in-out;
}

.tree_animate {
  transition: 3s ease-in-out;
  transition-delay: 2.5s;
}

.tree_animate .treetop {
  position: relative; top: 100px; left: 1165px;
}
  
.tree_animate .tree-middle {
  position: relative; top: 100px; left: 1160px;
}

.tree_animate .tree-bottom {
  position: relative; top: 100px; left: 1155px;
}

.tree_animate .treetrunk {
  position: relative; top: 100px; left: 1175px;
}

.tree_animate .treetop2 {
  position: relative; top: -212px; left: 865px;
}

.tree_animate .tree-middle2 {
  position: relative; top: -212px; left: 860px;
}

.tree_animate .tree-bottom2 {
  position: relative; top: -212px; left: 855px;
}

.tree_animate .treetrunk2 {
  position: relative; top: -212px; left: 875px;
}

.tree_animate .treetop3 {
  position: relative; top: -520px; left: 465px;
}

.tree_animate .tree-middle3 {
  position: relative; top: -520px; left: 460px;
}

.tree_animate .tree-bottom3 {
  position: relative; top: -520px; left: 455px;
}

.tree_animate .treetrunk3 {
  position: relative; top: -520px; left: 475px;
}

.tree_animate .treetop4 {
  position: relative; top: -730px; left: 165px;
}

.tree_animate .tree-middle4 {
  position: relative; top: -730px; left: 160px;
}

.tree_animate .tree-bottom4 {
  position: relative; top: -730px; left: 155px;
}
  
.tree_animate .treetrunk4 {
  position: relative; top: -730px; left: 175px;
}