body {
  font-family: 'Righteous', cursive;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  background-color: #87CEEB;
  background-size: 100% 100vh;
}

.pages {
  margin: 0;
  padding: 0;
  background: url("images/0x0.jpg");
  background-size: 100% 100vh;
}

.banner {
  font-family: 'Righteous', cursive;
  font-size: 4em;
  color: green;
  position: absolute;
  text-shadow: 4px 4px 10px #964b00;
  padding: 2em;
  top: -20%;
  left: 2.75%;
}

ul li {
  list-style: none;
  font-family: 'Coiny', cursive;
}

.menu {
  height: 36px;
  width: 40px;
  float: right;
  position: relative;
  margin: 30px 30px 0 0;
  cursor: pointer;
  z-index: 99;
}

.toggler {
  width: 100%;
  height: 4px;
  margin: 0 0 7px 0;
  background-color: #fff;
  transition: 0.3s;
  
}

.hide {
 opacity: 0;
 visibility: hidden;
}

.animation0 {
  transform: rotate(45deg) translateY(15px);
  transition: 0.3s ease-in-out;
}

.animation2 {
  transform: rotate(-45deg) translateY(-15px);
  transition: 0.3s ease-in-out;
}

.navbar {
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease-in-out 
  4s,opacity 4s ease-in-out;
  text-align: center;
  z-index: 2;
}

.navbar.show {
  background-color: rgba(0, 0, 0, 1);
  opacity: 1;
  visibility: visible;
  transition: visibility 0s ease-in-out 
  3s,opacity 3s ease-in-out;
  transition-delay: 0s;
}

.navbar ul {
  padding: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar ul li {
  padding: 10px 0px;
}

.navbar ul li a {
  visibility: inherit;
  color: #fff;
  text-decoration: none;
  font-size: 38px;
  font-weight: 200;
}

.navbar ul li a:hover {
  color: grey;
  transition: 1s ease-in-out;
}

section {
  width: 60%;
  display: block;
  text-align: center;
  margin: auto;
  background-image: linear-gradient(90deg, green,blue);
  padding: 12px;
  border-radius: 8px;
  position: relative; top:240px;
}

h2 {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

p {
  text-align: center;
  color: white;
  text-decoration: none;
  z-index: 1;
}

section ul li a {
  visibility: visible;
  pointer-events: auto;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  z-index: 2;
}

section ul li a:hover {
  color: grey;
  text-decoration: underline;
}

.links {
  display: list-item;
  list-style-type: none;
  list-style-position: inherit;
  margin: 0 auto;
}

.arrow_toggle_one {
  display: block;
  position: relative; top: 100px;
  background-color: #3d3d3d;
  width: 45px; 
  height: 45px; 
  border-radius: 50%;
  border: none;
  top: -100%;
}

.arrow_toggle_two {
  display: block;
  position: relative;
  background-color: #3d3d3d;
  width: 45px; 
  height: 45px; 
  border-radius: 50%;
  border: none;
}

.arrow_toggle_one:hover, .arrow_toggle_two:hover {
  width: 50px;
  height: 50px;
  transition: 0.1s ease-in-out;
}

.arrow_previous {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
}

.arrow_next {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

.arrow_toggle_one:hover .arrow_previous, .arrow_toggle_two:hover .arrow_next {
  padding: 5px;
  transition: 0.1s ease-in-out;
}

.about {
  opacity: 1;
  transition: 2.5s ease-in-out;
}

.section_animate {
  opacity: 0;
  transition: 2.5s ease-in-out;
}

.treetop, .treetop2, .treetop3, .treetop4 {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #337033;
}

.tree-middle, .tree-middle2, .tree-middle3, .tree-middle4 {
  width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 60px solid #337033;
}

.tree-bottom, .tree-bottom2, .tree-bottom3, .tree-bottom4 {
  width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 70px solid #337033;
}

.treetrunk, .treetrunk2, .treetrunk3, .treetrunk4 {
  width: 30px;
  height: 30px;
  background-color: #7e673e
}

.treetop {
  position: relative; top: 300px; left: 1040px;
}

.tree-middle {
  position: relative; top: 300px; left: 1035px;
}

.tree-bottom {
  position: relative; top: 300px; left: 1030px;
}

.treetrunk {
  position: relative; top: 300.2px; left: 1049px;
}

.treetop2 {
  position: relative; top: 90px; left: 780px;
}

.tree-middle2 {
  position: relative; top: 90px; left: 775px;
}

.tree-bottom2 {
  position: relative; top: 90px; left: 770px;
}

.treetrunk2 {
  position: relative; top: 90.2px; left: 790px;
}

.treetop3 {
  position: relative; top: -119.3px; left: 520px;
}

.tree-middle3 {
  position: relative; top: -119.3px; left: 515px;
}

.tree-bottom3 {
  position: relative; top: -119.3px; left: 510px;
}

.treetrunk3 {
  position: relative; top: -119.5px; left: 530px;
}

.treetop4 {
  position: relative; top: -329.3px; left: 260px;
}

.tree-middle4 {
  position: relative; top: -329.3px; left: 255px;
}

.tree-bottom4 {
  position: relative; top: -329.3px; left: 250px;
}

.treetrunk4 {
  position: relative; top: -329.3px; left: 270px;
}

.treetop, .treetop2, .treetop3, .treetop4 {
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #337033;
  position: relative; top: 10000px; left: 10000px;
}

.tree-middle, .tree-middle2, .tree-middle3, .tree-middle4 {
  width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 60px solid #337033;
  position: relative; top: 10000px; left: 10000px;
}

.tree-bottom, .tree-bottom2, .tree-bottom3, .tree-bottom4 {
  width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 70px solid #337033;
  position: relative; top: 10000px; left: 10000px;
}

.treetrunks, .treetrunks2, .treetrunks3, .treetrunks4 {
  width: 30px;
  height: 30px;
  position: relative; top: 10000px; left: 10000px;
  background-color: #7e673e;
}